.article_wrapper {
    padding:1rem;
    width:70%;
}
.article_thumbnail {
    width:95%;
    object-fit: cover;
    max-height:370px;
    margin:1.4rem 0;
    border-radius:.2rem;
}
.article_detail {
    @include useFlexbox(flex-start , center);
    gap:1rem;
    margin:1.5rem 0 .7rem 0;
    border-bottom:1px solid $secondary-color;
    padding:1rem;
    width:95%;
}
.article_title {
    @include useSecondaryFont;
    font-size:3rem;
    width:90%;
    margin-top:2rem;
}
.article_author {
    font-weight:bolder;
}
.article_content{
    width:95%;
}
.article_home_link_container {
    padding:.8rem;
}
.article_home_link_container a{
    text-decoration: none;
    color:black;
    @include useFlexbox(flex-end, center);
    font-size:1.02rem;
    &:hover {
        color:$primary-color;
    }
}
.article_similarPosts_header {
    font-size:1.6rem;
    font-weight: bolder;
    @include useSecondaryFont;
}
.article_similarPosts_grid{
    @include useGrid(1fr 1fr);
}
@media screen and (max-width:1000px){
    .article_wrapper {
        min-width:100%;
        margin: 0 auto;
    }
    .article_thumbnail , .article_content , .article_detail{
        width:100%;
    }
}