.empty_state_message {
    font-weight:bolder;
    text-align: center;
    font-size:1.3rem;
    @include useSecondaryFont;
}

.empty_state_image{
    max-width:100%;
    @include transformTraslateXCenter(relative);
}