.primarylayout_header {
    background:linear-gradient(180deg , #0000008e , transparent);
    min-width:100%;
    padding:.9rem 2rem;
    gap:.4rem;
    @include useFlexbox(space-between , center);
    @include useSecondaryFont;
    position:absolute;
    top:0;
    z-index:200;
}
// logos
.primarylayout_logo{
    width:6rem;
}
.primarylayout_logo_blue{
    width:5rem;
}

.primarylayout_header_toolbar{
    @include useFlexbox(center , center);
    gap:.7rem;
}
.primarylayout .icon_wrapper_trans {
    color:white;
    background:rgba(white, .1);
    width:2.5rem;
    height:2.5rem;
    border-radius:50%;
    @include useFlexbox(center , center);
    cursor:pointer;
}

.layout_menu{
    color:white;
    background:rgba(white, .1);
    width:3rem;
    height:3rem;
    border-radius:50%;
    cursor:pointer;
    @include useFlexbox(center , center);
    display: none;
}
.nav_header_small {
    display:none;
    a {
        height:fit-content;
    }
    svg {
        border:1px solid black;
        cursor:pointer;
        padding:.2rem;
        color:black;
        width:2rem;
        height:2rem;
        transition:.4s;
        &:hover {
            border:1px solid $primary-color;;
        }
    }
}
//search bar

.nav_footer_small {
    display:none;
    list-style:none;
    gap:2rem;
    font-size:1.1rem;
}


// media query
@media screen and (max-width:1000px){
    // icons
    .layout_menu{
        @include useFlexbox(center , center);
    }
    .primarylayout .icon_wrapper_trans{
        background:black;
    }
    // navigation
    .layout .nav{
        position:fixed;
        left:0;
        top:0;
        bottom:0;
        right:0;
        width:100%;
        background:white;
        z-index:300;
        padding:1.6rem;
        overflow-y:auto;
    }
    .layout .nav ul {
        flex-direction: column;
        align-items:flex-start;
        padding:1rem;
        border-top:1px solid $secondary-color;
    }
    .layout .nav_listitem {
        & > a {
            color:black;
        }
    }
    .nav_header_small{
        @include useFlexbox(space-between , center);
    }
    .nav_footer_small{
        @include useFlexbox(space-evenly , center);
    }

    .nav_hidden {
        display:none;
    }

}