/*
    For both about and sitemap page
*/
.about , .sitemap {
    padding:1rem 2rem;
}
.about_header , .sitemap_header {
    @include useSecondaryFont;
    font-weight:bolder;
    margin:2rem 0;
    padding-bottom:1.2rem;
    font-size:2.5rem;
    border-bottom:1px solid $secondary-color;
}

/*
    For only about page
*/
.about_section {
    font-weight:500;
    padding:0 2rem;
    max-width:700px;
    p {
        margin:2rem auto;
        font-size:1.2rem;
    }
}
.about_socials {
    border-top:1px solid $secondary-color;
    padding-top:1rem;
    ul {
        list-style:none;
    }
    li {
        margin:1rem auto;
    }
    a {
        text-decoration:none;
        color:black;
        font-size:1rem;
        @include useFlexbox(flex-start ,center);
        gap:.5rem;
    }
}

/*
    For only the sitemap page
*/