.tag_items_wrapper {
    @include useGrid(1fr 1fr 1fr);
}
.tag h1 {
    text-align: center;
    margin-top:1rem;
    font-size:2.4rem;
    @include useSecondaryFont;
    &::first-letter{
        text-transform: uppercase;
    }
}
